* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 15px;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif; }

h1, h2 {
  font-weight: 100; }

.header {
  height: 100vh; }
  .header_main {
    position: relative; }
    .header_main > * {
      position: absolute; }
    .header_main--svg1 {
      right: -.5rem;
      top: -.5rem;
      width: 70rem; }
    .header_main--svg2 {
      right: 10rem;
      top: 11rem;
      width: 50rem; }
    .header_main--nav {
      width: 100rem;
      margin-top: 2rem;
      margin-left: calc(50% - 50rem);
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header_main--nav > svg {
        width: 7rem; }
      .header_main--nav > h1 {
        padding-top: 4rem;
        margin-left: -38rem;
        font-size: 3rem; }
      .header_main--nav-menu > ul {
        list-style: none; }
        .header_main--nav-menu > ul > li {
          float: left; }
          .header_main--nav-menu > ul > li > a {
            color: #fff;
            margin-left: 4rem;
            text-decoration: none; }
    .header_main--text {
      top: 20rem;
      left: 18rem; }
      .header_main--text > h1 {
        color: #42495B;
        font-size: 4rem; }
        .header_main--text > h1:nth-of-type(2) {
          font-weight: 900;
          font-size: 5rem;
          margin-bottom: 1rem; }
      .header_main--text > p {
        color: #7A839E;
        width: 35rem;
        margin-bottom: 2rem; }
      .header_main--text > span {
        padding: 1rem 2rem;
        background: linear-gradient(to right, #1a129f, #6156f9);
        border-radius: 10rem;
        text-align: center;
        line-height: 5rem;
        color: #fff;
        cursor: pointer; }
    .header_main--icon {
      top: 30rem;
      left: 9rem;
      height: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .header_main--icon > i {
        color: #1a129f;
        font-size: 1.5rem;
        cursor: pointer; }
      .header_main--icon > span {
        display: block;
        width: .4rem;
        height: 3rem;
        background: #1a129f; }

.bio_icon {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 10rem;
  text-align: center;
  line-height: 7rem;
  box-shadow: 0.2rem 0.5rem 1rem #808080a6;
  margin: -10rem auto 7rem auto;
  cursor: pointer; }
  .bio_icon > i {
    color: #7E76F9;
    font-size: 3rem; }

.bio_main {
  display: flex; }
  .bio_main--svg {
    width: 55rem;
    margin-left: 5rem; }
  .bio_main--text {
    background-image: url(../img/bg-up.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10rem;
    width: 75rem; }
    .bio_main--text > h4 {
      margin: 5rem 0 1rem 0;
      color: #7E76F9; }
    .bio_main--text > h1 {
      color: #42495B;
      font-size: 5rem;
      margin-bottom: 1rem; }
    .bio_main--text > p {
      width: 45rem;
      line-height: 2.3rem;
      color: #7A839E;
      margin-bottom: 3rem; }
      .bio_main--text > p:nth-of-type(2) {
        margin-bottom: 5rem; }
    .bio_main--text > span {
      padding: 1rem 2rem;
      background: linear-gradient(to right, #1a129f, #6156f9);
      border-radius: 10rem;
      text-align: center;
      line-height: 5rem;
      color: #fff;
      cursor: pointer; }

.service {
  background: url(../img/bg-down.png) center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .service_main {
    width: 110rem;
    margin: 0 auto; }
    .service_main--head {
      margin: 10rem 0 5rem 0; }
      .service_main--head > h4 {
        margin: 5rem 0 1rem 0;
        color: #7E76F9; }
      .service_main--head > h1 {
        color: #42495B;
        font-size: 5rem;
        margin-bottom: 1rem; }
    .service_main--divs {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 3rem; }
      .service_main--divs > div {
        width: 30rem;
        height: 40rem;
        box-shadow: .1rem .5rem 1rem #80808023;
        background-color: #fff;
        border-radius: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        .service_main--divs > div > svg {
          width: 7rem; }
        .service_main--divs > div > h1 {
          color: #42495B;
          font-size: 1.3rem;
          align-self: flex-start;
          margin-left: 4rem; }
        .service_main--divs > div > p {
          color: #7A839E;
          font-size: 1.3rem;
          width: 22rem; }
        .service_main--divs > div > span {
          padding: 1rem 2rem;
          background: linear-gradient(to right, #1a129f, #6156f9);
          border-radius: 10rem;
          text-align: center;
          line-height: 5rem;
          color: #fff;
          cursor: pointer;
          font-size: 1rem;
          height: 3rem;
          line-height: 1rem;
          margin-left: 13rem; }

.price {
  background-color: #e4e4e4;
  height: 100vh;
  margin-top: 20rem; }
  .price_main {
    max-width: 110rem;
    margin: 0 auto; }
    .price_main > h4 {
      margin: 5rem 0 1rem 0;
      color: #7E76F9; }
    .price_main > h1 {
      color: #42495B;
      font-size: 5rem;
      margin-bottom: 1rem; }
    .price_main > h4 {
      padding-top: 3rem;
      text-align: center; }
    .price_main > h1 {
      text-align: center;
      margin-bottom: 3rem; }
    .price_main--divs {
      display: grid;
      grid-template-columns: 30rem 30rem 30rem;
      grid-gap: 10rem; }
      .price_main--divs > div {
        height: 40rem;
        background-color: #fff;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        .price_main--divs > div > h1 {
          color: #42495B; }
        .price_main--divs > div > p {
          width: 23rem;
          text-align: center;
          color: #7A839E; }
        .price_main--divs > div > h2 {
          color: #1a129f; }
        .price_main--divs > div > span {
          padding: 1rem 2rem;
          background: linear-gradient(to right, #1a129f, #6156f9);
          border-radius: 10rem;
          text-align: center;
          line-height: 5rem;
          color: #fff;
          cursor: pointer;
          height: 4rem;
          line-height: 2rem;
          background-image: none;
          border: .1rem solid gray;
          color: #42495B;
          transition: .3s; }
          .price_main--divs > div > span:hover {
            color: #fff;
            background-image: linear-gradient(to right, #1a129f, #6156f9); }
    .price_main--circle {
      margin-top: 5rem;
      text-align: center; }
      .price_main--circle > span {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: 0.1rem solid #7E76F9;
        border-radius: 10rem;
        margin-left: .5rem;
        transition: .2s;
        cursor: pointer; }
        .price_main--circle > span:hover {
          background-color: #7E76F9;
          transform: scale(1.5); }

.news_main {
  max-width: 110rem;
  margin: 20rem auto 10rem auto;
  text-align: center; }
  .news_main--email > h4 {
    margin: 5rem 0 1rem 0;
    color: #7E76F9; }
  .news_main--email > h1 {
    color: #42495B;
    font-size: 5rem;
    margin-bottom: 1rem; }
  .news_main--email > h1 {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .news_main--email-e {
    border: none;
    width: 50rem;
    height: 4rem;
    background-color: #e9e9e9;
    border-radius: .5rem;
    padding-left: 2rem; }
    .news_main--email-e:focus {
      outline: none; }
  .news_main--email-s {
    padding: 1rem 2rem;
    background: linear-gradient(to right, #1a129f, #6156f9);
    border-radius: 10rem;
    text-align: center;
    line-height: 5rem;
    color: #fff;
    cursor: pointer;
    height: 4rem;
    line-height: 2rem;
    border: none;
    margin-left: 2rem;
    padding: 0 3rem; }

.footer {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden; }
  .footer > * {
    position: absolute; }
  .footer_svg {
    width: 260rem;
    top: -80rem;
    left: -107rem; }
  .footer_main {
    width: 110rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: calc(50% - 55rem);
    margin-top: 27rem; }
    .footer_main > * {
      color: #fff; }
    .footer_main--logo > h1 {
      text-align: center; }
    .footer_main--logo > p {
      margin: 3rem 0;
      font-size: 2rem;
      text-align: center; }
    .footer_main--logo > i {
      cursor: pointer; }
      .footer_main--logo > i:not(:last-child) {
        margin-right: 2.5rem; }
    .footer_main--links > h3 {
      font-weight: 100;
      margin-bottom: 4rem; }
    .footer_main--links > p {
      margin: 1rem 0; }
    .footer_main--hours > h3 {
      font-weight: 100;
      margin-bottom: 4rem; }
    .footer_main--hours > p {
      margin: 1rem 0; }
    .footer_main--contact > h3 {
      font-weight: 100;
      margin-bottom: 4rem; }
    .footer_main--contact > i {
      margin-right: 1rem; }
      .footer_main--contact > i:not(:last-child) {
        margin-bottom: 2rem; }
