*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.head{
  width: 100%;
  height: 100vh;
  background-image: url(../img/140991_00_2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.head>span:nth-of-type(1){
  position: absolute;
  top:70px;
  left: 130px;
  color: #452268;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 25px;
  cursor: pointer;
}
.head>div:nth-of-type(1){
  position: absolute;
  top: 78px;
  left: 350px;
}
.head>div:nth-of-type(1)>ul>li{
  float: left;
  padding-left: 40px;
  list-style-type: none;
  text-transform: capitalize;
  opacity: 50%;
  cursor: pointer;
}
.head>div:nth-of-type(1)>ul>li:nth-of-type(1){
  font-weight: bold;
  color: darkblue;
  opacity: 100%;
}
.head>span:nth-of-type(2){
  width: 640px;
  position: absolute;
  top: 285px;
  font-weight: lighter;
  left: 130px;
  font-size: 52px;
  color: #255A7E; 
}
.head>p{
  display: block;
  width: 592px;
  position: absolute;
  top: 450px;
  left: 130px;
  opacity: 50%;
}
.head>span:nth-of-type(3){
  display: block;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 550px;
  left: 130px;
  color: white;
  background-color: #F98169;
  border-radius: 2px;
  text-transform: capitalize;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.head>span:nth-of-type(4){
  position: absolute;
  top: 566px;
  left: 370px;
  opacity: 50%;
  cursor: pointer;
}
.head>span:nth-of-type(5){
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  background-color: #F98169;
  color: white;
  border-radius: 50%;
  top: 550px;
  left: 505px;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}
.main{
  width: 100%;
  height:205vh;
  position: relative;
  background-image: url(../img/fresh-summer-vegetable-panorama-flat-lay-white-background-vibrant-food-pattern-fresh-summer-vegetable-p33anorama-flat-lay-200138111.jpg);
}
.main>img:nth-of-type(1){
  position: absolute;
  width: 600px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  top: 70px;
  left: 110px;
  box-shadow: 0px 50px 50px rgb(134, 134, 134);
}
.main>h1:nth-of-type(1){
  width: 458px;
  color: #0C3653;
  position: absolute;
  top: 200px;
  left: 800px;
  font-family: 'Times New Roman', Times, serif;
}
.main>p:nth-of-type(1){
  width: 505px;
  opacity: 50%;
  position: absolute;
  top: 350px;
  left: 800px;
  line-height: 25px;
}
.main>span:nth-of-type(1){
  width: 260px;
  height: 60px;
  background-color: #F98169;
  position: absolute;
  color: white;
  top: 520px;
  left: 800px;
  line-height: 60px;
  text-align: center;
  border-radius: 2px;
  text-transform: capitalize;
}
.main>img:nth-of-type(2){
  width: 200px;
  position: absolute;
  top: 870px;
  left: 790px;
  border-radius: 10px;
}
.main>img:nth-of-type(3){
  width: 260px;
  position: absolute;
  top: 1010px;
  left: 1000px;
  border-radius: 10px;
}
.main>img:nth-of-type(4){
  width: 300px;
  position: absolute;
  top: 1080px;
  left: 690px;
  border-radius: 10px;
}
.main>img:nth-of-type(5){
  width: 300px;
  position: absolute;
  top: 700px;
  left: 1000px;
  border-radius: 10px;
}
.main>h1:nth-of-type(2){
  width: 458px;
  color: #0C3653;
  position: absolute;
  top: 850px;
  left: 110px;
  font-family: 'Times New Roman', Times, serif;
}
.main>p:nth-of-type(2){
  width: 505px;
  opacity: 50%;
  position: absolute;
  top: 1000px;
  left: 110px;
  line-height: 25px;
}
.main>span:nth-of-type(2){
  width: 260px;
  height: 60px;
  background-color: #F98169;
  position: absolute;
  color: white;
  top: 1170px;
  left: 110px;
  line-height: 60px;
  text-align: center;
  border-radius: 2px;
  text-transform: capitalize;
}
.video{
  width: 80%;
  height: 500px;
  background-image: url(../img/26115840-instagram-food-captions-quotes-hashtags-hong-kong-tatler_cover_2000x1333.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* top: 2000px; */
  left: 10%;
  border-radius: 10px;
}
.video>h1{
  color: white;
  padding-top: 150px;
  font-family: 'Times New Roman', Times, serif;
  width: 1000px;
  font-size: 50px;
  padding-left: 9%;
  text-align: center;
}
.video>p{
  color: white;
  padding-top: 40px;
  width: 870px;
  text-align: center;
  line-height: 25px;
  padding-left: 240px;
}
.video>span:nth-of-type(1){
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 60px;
  margin-left: 48%;
  margin-top: 20px;
}
.video>span:nth-of-type(2){
  display: block;
  color: white;
  margin-top: 20px;
  margin-left: 475px;
  letter-spacing: 2px;
}
.price{
  width: 100%;
  height: auto;
}
.price>h1{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
}
.price>p{
  width: 580px;
  opacity: 50%;
  text-align: center;
  margin-top: 50px;
  margin-left: 380px;
}
.price>div{
  width: 100%;
  height: 750px;
  margin-top: 30px;
}
.priceone>img{
  width: 270px;
}
.priceone{
  width: 20%;
  height: 300px;
  float: left;
  overflow: hidden;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(224, 224, 224);
  position: relative;
}
.price>div:nth-of-type(1)>div:nth-of-type(1){
  margin-left: 17.5%;
  margin-right: 2.5%;
}
.price>div:nth-of-type(1)>div:nth-of-type(2){
  margin-right: 2.5%;
}
.price>div:nth-of-type(1)>div:nth-of-type(4){
  margin-left: 17.5%;
  margin-right: 2.5%;
}
.price>div:nth-of-type(1)>div:nth-of-type(5){
  margin-right: 2.5%;
}
.withebox{
  position: absolute;
  top: 200px;
  background-color: white;
}
.withebox>h1{
  float: left;
  width: 50%;
  color: #0C3653;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 15px 15px;
}
.withebox>span{
  float: right;
  color: #F98169;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 18px 38px;
}
.withebox>p{
  opacity: 50%;
  width: 285px;
  font-size: 9px;
  margin-left: 15px;
}
.price>span{
  display: block;
  width: 200px;
  height: 60px;
  background-color: #F98169;
  color: white;
  text-align: center;
  line-height: 60px;
  margin: 50px auto;
  border-radius: 2px;
  cursor: pointer;
}
.price>div:nth-of-type(2){
  width: 100%;
  height: 400px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}
.price>div:nth-of-type(2)>img{
  width: 24%;
  margin-left: 1%;
  border-radius: 10px;
  float: left;
}
.price>div:nth-of-type(2)>div>h1{
  position: absolute;
  top: 160px;
  left: 370px;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}
.price>div:nth-of-type(2)>div>p{
  position: absolute;
  width: 235px;
  top: 195px;
  font-size: 11px;
  left: 370px;
  color: white;
}
.price>div:nth-of-type(2)>div>span{
  position: absolute;
  top: 248px;
  left: 637px;
  color: white;
  width: 37px;
  height: 26px;
  background-color: #F98169;
  border-bottom-right-radius: 10px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}
.price>div:nth-of-type(2)>div>span>i{
  font-size: 25px;
  
}
.down{
  width: 100%;
  height: 150vh;
  overflow: hidden;
}
.down>div:nth-of-type(1){
  width: 80%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(194, 194, 194, 0.418);
  margin: 100px auto;
}
.down>div:nth-of-type(1)>h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #0C3653;
}
.down>div:nth-of-type(1)>input:nth-of-type(1){
  width: 50%;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 70px;
  margin-left: 17.5%;
  padding-left: 20px;
  border: none;
  background-color: rgba(238, 238, 238, 0.5);
}
.down>div:nth-of-type(1)>button{
  width: 15%;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 70px;
  margin-left: -5px;
  color: white;
  border: none;
  background-color: #F98169;
  cursor: pointer;
}
.down>div:nth-of-type(1)>i{
  margin-left: -40px;
  color: white;
  cursor: pointer;
}
input:focus{
  outline: none;
}
.down>div:nth-of-type(2)>img{
  width: 750px;
  transform: rotate(45deg);
  margin-left: 920px;
  margin-top: 50px;
}
.down>div:nth-of-type(2)>div{
  margin-top: -500px;
  width: 600px;
  height: 90px;
  margin-left: 130px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.down>div:nth-of-type(2)>div>span{
  color: #452268;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 25px;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 41px;
  float: left;
}
.down>div:nth-of-type(2)>div>ul>li{
  float: left;
  list-style-type: none;
  margin-left: 45px;
  margin-top: 36px;
}
.down>div:nth-of-type(2)>i:nth-of-type(1){
  margin-left: 160px;
  margin-top: 20px;
}
.down>div:nth-of-type(2)>i{
  margin-left: 10px;
}
.down>div:nth-of-type(2)>p{
  margin-left: 130px;
  color: rgb(173, 173, 173);
  margin-top: 80px;
}